<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Kyndryl Device Setup Guide</title>
</head>
<div class="login">
<div class="login-screen">
<div class="app-title">
<a href="#"><img id="logo" src="{{ url_for('static', filename= 'kynlogogreen.css') }}"></a>
<h1>Device Setup Guide</h1>
</div>   
<div class="login-form">
<body>
        <a href="/Android">Android Enrollment </a><br>
        <br>
        <a href="/iOS">iOS Enrollment</a><br>
        <br>
        <a href="/iOS-DEP">iOS DEP Enrollment</a><br>
        <br>
        <a href="/Mac">Mac Enrollment</a><br>
        <br>
        <a href="/Windows">Windows 10 Enrollment</a><br>
</div>
</div>
</div>
</body>
</html>
