<html>
<head>
        <style>
                body, html {
                margin: 0;
                padding: 0;
            }

                iframe {
                display: block;
                width: 100vw;
                height: 100vh;
                max-width: 100%;
                margin: 0;
                padding: 0;
                border: 0 none;
                box-sizing: border-box;
            }
        </style>        
</head>
<body>
        <iframe src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://kyndevicesetup.blob.core.windows.net/kyndryl-device-setup/iOS---Enroll-to-Intune-in-iOS-device-1.pdf"></iframe>
</body>
</html>
