<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
                body, html {
                margin: 0;
                padding: 0;
            }

                iframe {
                display: block;
                width: 100vw;
                height: 100vh;
                max-width: 100%;
                margin: 0;
                padding: 0;
                border: 0 none;
                box-sizing: border-box;
            }
        </style>        
</head>
<body>
        <iframe src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://kyndevicesetup.blob.core.windows.net/kyndryl-device-setup/iOS---Enroll-DEP-device-to-Intune.pdf"></iframe>
</body>
</html>
